recursive-include examples *.tmpl *.ini *.css *.png .empty
recursive-include planet/tests *.tmpl
include AUTHORS
include INSTALL
include LICENCE
include NEWS
include THANKS
include TODO
# include bzr bits for easy updating
global-include .bzrignore
graft .bzr
